<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% comment %} {% load pwa %} 
    {% progressive_web_app_meta %} {% endcomment %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventory Management Dashboard {% block head_title %}{% endblock head_title %}</title>
        {% include 'base/css.html' %}

    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="antialiased bg-gray-50 dark:bg-gray-900">

            {% include 'dashboard/components/heading.html' %}

            <main class="antialiased p-4 pt-20 md:ml-64 min-h-screen h-auto bg-gray-50 dark:bg-gray-900 ">
                {% block content %}

                {% endblock content %}
            </main>
            
        </div>

        {% include 'base/js.html' %}

        <script>
            function navigateTo(url) {
                // Navigate to the specified URL
                window.location.href = url;
            }            
        </script>

        <script src="{% static 'js/dashboard/overview.js'%}"></script>
        <script src="{% static 'js/dashboard/sales.js'%}"></script>
        <script src="{% static 'js/dashboard/app.js'%}"></script>

        {% block scripts %}{% endblock scripts %}

    </body>
</html>