{% comment %} {% load compress %} {% endcomment %}
{% load static %}
{% comment %} {% load pwa %} 
{% progressive_web_app_meta %} {% endcomment %}


<!DOCTYPE html>
<html lang="en">
    

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventory Management Dashboard {% block head_title %}{% endblock head_title %}</title>

        {% comment %} {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %} {% endcomment %}

        {% include 'base/css.html' %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="antialiased bg-gray-50 dark:bg-gray-900">

            {% include 'dashboard/components/heading.html' %}

            <main class="antialiased p-4 pt-20 md:ml-64 min-h-screen h-auto bg-gray-50 dark:bg-gray-900 "> 

                {% block content %}

                {% endblock content %}

            </main>

            <div id="alert-container" class="fixed bottom-0 right-0 p-4 space-y-4"></div>
            
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
        {% include 'base/js.html' %}

        {% comment %} Focus on finishing the products then the inventory (with warehouse button to select a warehouse, 
        get or set it from localstorage when the screen loads ) and then finish sales along with receipt generation {% endcomment %}

        <script>
            function initializeFlowbite() {
                // Call the Flowbite initialization function
                if (typeof initFlowbite === 'function') {
                    initFlowbite();
                }
            }

            function navigateTo(url) {
                // Navigate to the specified URL
                window.location.href = url;
            }

            // Function to get CSRF token (needed if CSRF protection is enabled)
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            };
            

            function DisplayMessage(message, type) {
                if (type === 'error') {
                    type = 'red'
                }else if (type === 'warning') {
                    type = 'yellow'
                }else {
                    type = 'green'
                }
                // Create alert element
                const alert = document.createElement('div');
                alert.className = `flex items-center p-4 mb-4 text-${type}-800 rounded-lg ${type}-50 dark:bg-gray-800 dark:text-${type}-400`;
                alert.role = 'alert';

                // Add SVG icon
                alert.innerHTML = `
                    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <div class="ms-3 text-sm font-medium">${message}</div>
                    <button type="button" class="ms-auto -mx-1.5 -my-1.5 ${type}-50 text-${type}-500 rounded-lg focus:ring-2 focus:ring-${type}-400 p-1.5 hover:${type}-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-${type}-400 dark:hover:bg-gray-700" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                    </button>
                `;

                // Add close button functionality
                alert.querySelector('button').addEventListener('click', () => {
                    alert.remove();
                });

                // Append alert to container
                document.getElementById('alert-container').appendChild(alert);

                // Remove alert after 7 seconds
                setTimeout(() => alert.remove(), 7000);

                return alert;
            }

            // Post a message to the parent window indicating logout success
            window.addEventListener('DOMContentLoaded', (event) => {
                const form = document.getElementById("logout_form")
                form.addEventListener('submit', () => {
                    window.parent.postMessage('logoutSuccess', '*');
                });
            });

            window.addEventListener('message', function(event) {
                if (event.data === 'logoutSuccess') {
                    // Redirect the parent window to the home page or login page
                    console.log('Logout successful');
                    window.location.href = '/';
                }
            }, false);

        </script>
        <script src="{% static 'js/dashboard/overview.js' %}"></script>
        <script src="{% static 'js/dashboard/sales.js' %}"></script>
        <script src="{% static 'js/dashboard/inventory.js' %}"></script>
        <script src="{% static 'js/dashboard/orders.js' %}"></script>
        <script src="{% static 'js/dashboard/products.js' %}"></script>
        <script src="{% static 'js/dashboard/profile.js' %}"></script>
        <script src="{% static 'js/dashboard/general.js' %}"></script>
        <script src="{% static 'js/dashboard/users.js' %}"></script>
        <script src="{% static 'js/dashboard/app.js' %}"></script>

        {% block scripts %}{% endblock scripts %}

    </body>
</html>