{% load i18n %}

<h2>Change Password</h2>
<form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    
    <div>
        <label for="id_oldpassword">{% trans "Current Password" %}</label>
        <input type="password" id="id_oldpassword" name="oldpassword" value="{{ form.oldpassword.value }}">
        {% if form.oldpassword.errors %}
            <div class="error">{{ form.oldpassword.errors }}</div>
        {% endif %}
    </div>
    
    <div>
        <label for="id_password1">{% trans "New Password" %}</label>
        <input type="password" id="id_password1" name="password1" value="{{ form.password1.value }}">
        {% if form.password1.errors %}
            <div class="error">{{ form.password1.errors }}</div>
        {% endif %}
    </div>
    
    <div>
        <label for="id_password2">{% trans "Confirm New Password" %}</label>
        <input type="password" id="id_password2" name="password2" value="{{ form.password2.value }}">
        {% if form.password2.errors %}
            <div class="error">{{ form.password2.errors }}</div>
        {% endif %}
    </div>
    
    <div>
        <button type="submit">{% trans "Change Password" %}</button>
    </div>
</form>
