Django>=5
gunicorn
psycopg2-binary
python-decouple
dj-database-url
requests
Pillow
django-allauth
django-allauth-ui
django-pwa
django-admin-interface
django-filter
djangorestframework
drf-spectacular
drf-spectacular-sidecar
django-extensions
drf-extensions
weasyprint
dj-notification-api
pip-tools
python-dotenv
whitenoise