Django>=5
gunicorn
psycopg2-binary
python-decouple
dj-database-url
whitenoise
requests
Pillow
django-allauth
django-allauth-ui
django-crispy-forms
django-widget-tweaks
slippers
django-pwa
django-admin-interface
django-redis
django-filter
djangorestframework
drf-spectacular
drf-spectacular-sidecar
django-storages
boto3
drf-extensions
weasyprint
django-compressor
dj-notification-api